<?php $this->headScript()->appendFile($this->baseUrl() . "/js/modules/admin/RideAdd.js","text/javascript");?>
<?php $this->headScript()->appendFile($this->baseUrl() . "/js/modules/admin/PassengerAdd.js","text/javascript");?>

<?php echo $this->partial('sidebar.phtml');?>

<div id="map-canvas" style="height: 687px"></div>

<div id="dialog"><!-- Loads ajax dialog form --></div>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBADa-A2Jqkq2C4ZlgOdZs98dFE0q00_N0&sensor=true">
</script>

<script type="text/javascript">
	$(document).ready(function() {
		 $('#cssmenu > ul > li:has(ul)').addClass("has-sub");

		  $('#cssmenu > ul > li > a').click(function() {
		    var checkElement = $(this).next();

		    $('#cssmenu li').removeClass('active');
		    $(this).closest('li').addClass('active');


		    if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		      $(this).closest('li').removeClass('active');
		      checkElement.slideUp('normal');
		    }

		    if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		      $('#cssmenu ul ul:visible').slideUp('normal');
		      checkElement.slideDown('normal');
		    }

		    if (checkElement.is('ul')) {
		      return false;
		    } else {
		      return true;
		    }
		  });

	var ride = new com.em.RideAdd();
	ride.clickToAdd('#create-ride');

	//----------------------------------------PASSENGER------------------------------------------
	var passenger = new com.em.PassengerAdd();

	// network
	passenger.setUrl({
		toTable : '<?php echo $this->url(array('action'=>'read-items'));?>',
		toBase : '<?php echo $this->baseUrl(); ?>',
		toUpdate : '<?php echo $this->url(array('action'=>'edit')); ?>',
		toAutocompleteLabel : '<?php echo $this->url(array('action'=>'autocomplete-label'));?>'
	});

	passenger.clickToAdd('#create-passenger');
	passenger.configureLabelAuto('input#label');
	passenger.clickToSearch('#search-passenger');
});

	var flightPath;
    var map;

    function initialize() {
        count = 0;
        var mapOptions = {center: new google.maps.LatLng(-17.760458, -63.131776), zoom: 15};
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        //setMarkers(map, beaches);
//        addLine();
//        addpuntoalmapa();


        var painter = setInterval(function(){paintTimer()},3000);
    }
     var count;

	function paintTimer() {
		count++;
		this.id = '#'+count;
		$(this.id).click();
	}

    //dibuja lineas DES DE AKI
    var flightPlanCoordinates = [
        new google.maps.LatLng(-17.760458, -63.139776),
        new google.maps.LatLng(-17.764666, -63.191555)
    ];
    flightPath = new google.maps.Polyline({
        path: flightPlanCoordinates,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
    });
    function addLine() {
        flightPath.setMap(map);
    }
    /*Remueve todas las lineas de flightPath*/
    function removeLine() {
        flightPath.setMap(null);
    }
    function asignar(out) {
        removeLine();
        flightPath = new google.maps.Polyline({
            path: out,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
        addLine();
//        poly = new google.maps.Polyline(flightPath);
//        poly.setMap(map);
    }
    ///////////////////////////////////////////////
    //Create a meausure object to store our markers, MVCArrays, lines and polygons
    var measure = {
        mvcLine: new google.maps.MVCArray(),
        mvcPolygon: new google.maps.MVCArray(),
        mvcMarkers: new google.maps.MVCArray(),
        line: null,
        polygon: null
    };
    var markerini;
    var markerfin;


    ////////////////////////////////////////////////
    google.maps.event.addDomListener(window, 'load', initialize);



    function dibujarruta(id) {
        var ig = id;
        var ur = '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Index', 'action'=>'draw'));?>';

        $.ajax({
            url: ur,
            type: "POST",
			dataType: 'json',
			data: {'taxiId' : 1},
            success: function(data, textStatus, XMLHttpRequest) {
                if (data !== null) {
                    var out = new Array();
                    var i = 0;
                    $(data).each(function() {
                        for (var i = 0; i < data.length; i++)
                        {
                            var item = data[i];
                            out[i] = new google.maps.LatLng(parseFloat(item.latitud), parseFloat(item.longitud));
                        }
                    });
//                    asignar(out);




                    var myLatlng = new google.maps.LatLng(-17.801260,-63.118800);
                    var mapOptions = {
                      zoom: 4,
                      center: myLatlng
                    }


                    var marker = new google.maps.Marker({
                        title: "fdaf",
                        position: myLatlng,
                        map: map,
                        icon: new google.maps.MarkerImage("img/hometaxi.png", new google.maps.Size(32, 40), new google.maps.Point(0, 0), new google.maps.Point(5, 5))
                    });
                }
            },
            error: function(data) {
                alert('error');
            }
        });

    }


    function drawTaxi(id) {
        var ig = id;
        var ur = '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Index', 'action'=>'draw-taxis'));?>';

        $.ajax({
            url: ur,
            type: "POST",
			dataType: 'json',
			data: {'taxiId' : 1},
            success: function(data, textStatus, XMLHttpRequest) {
                if (data !== null) {
                    var out = new Array();
                    var i = 0;
                    $(data).each(function() {
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            out[i] = new google.maps.LatLng(parseFloat(item.latitud), parseFloat(item.longitud));


                            var myLatlng = new google.maps.LatLng(parseFloat(item.latitud), parseFloat(item.longitud));

                            var marker = new google.maps.Marker({
                                title: "fdaf",
                                position: myLatlng,
                                map: map,
                                icon: new google.maps.MarkerImage("img/hometaxi.png", new google.maps.Size(32, 40), new google.maps.Point(0, 0), new google.maps.Point(5, 5))
                            });
                        }
                    });
//                    asignar(out);




//                     var myLatlng = new google.maps.LatLng(-17.801260,-63.118800);
//                     var mapOptions = {
//                       zoom: 4,
//                       center: myLatlng
//                     }


//                     var marker = new google.maps.Marker({
//                         title: "fdaf",
//                         position: myLatlng,
//                         map: map,
//                         icon: new google.maps.MarkerImage("img/hometaxi.png", new google.maps.Size(32, 40), new google.maps.Point(0, 0), new google.maps.Point(5, 5))
//                     });
                }
            },
            error: function(data) {
                alert('error');
            }
        });

    }
</script>