<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->element->getAction()?>" method="post" enctype="multipart/form-data">
<?php echo $this->element->getElement('driverId')->render()?>
<?php echo $this->element->getElement('taxiId')->render()?>
	<table>
		<tbody>
            <tr class="odd">
				<td>
    				<div>
                        <div class="well" id="pictureDriver" style="width: 188px; height: 188px; margin: 18px; margin-top: -20px;">
        				    <img src="<?php echo $this->element->getSource()?>" id="profile_img" style="width: 188px; height: 188px;"/>
                        </div>
                    </div>
                    <input id="MAX_FILE_SIZE" type="hidden" value="8388608" name="MAX_FILE_SIZE">
					<input type="file" id="file-input-driver" name="filedriver" class="valid">
				</td>
				<td>
    				<div style="top: 10px;">
                        <div class="well" id="pictureTaxi" style="width: 188px; height: 188px; margin: 18px; margin-top: -20px;">
                        <img src="<?php echo $this->element->getSourceTaxi()?>" id="profile_taxi_img" style="width: 188px; height: 188px;"/>
                        </div>
                    </div>
                    <input id="MAX_FILE_SIZE" type="hidden" value="8388608" name="MAX_FILE_SIZE">
					<input type="file" id="file-input-taxi" name="filetaxi" class="valid">
                </td>
			</tr>
			<tr class="even">
				<td><?php echo $this->element->getElement('firstName')->renderViewHelper()?></td>
				<td><?php echo $this->element->getElement('numberMovil')->renderViewHelper()?></td>
			</tr>
			<tr class="odd">
				<td><?php echo $this->element->getElement('lastName')->renderViewHelper()?></td>
				<td><?php echo $this->element->getElement('phone')->renderViewHelper()?></td>
			</tr>
			<tr class="even">
				<td><?php echo $this->element->getElement('ci')->renderViewHelper()?></td>
				<td><?php echo $this->element->getElement('mark')->renderViewHelper()?></td>
			</tr>
			<tr class="odd">
                <td><?php echo $this->element->getElement('address')->renderViewHelper()?></td>
				<td><?php echo $this->element->getElement('plaque')->renderViewHelper()?></td>
			</tr>
			<tr class="even">
                <td></td>
				<td><?php echo $this->element->getElement('typeMark')->renderViewHelper()?></td>
			</tr>
			<tr class="even">
			    <td><?php
                    if ($this->element->getShowActive()) {
                        echo $this->element->getElement('active')->renderViewHelper();
                    }
                ?></td>
				<td><?php echo $this->element->getElement('model')->renderViewHelper()?></td>
			</tr>
		</tbody>
	</table>
</form>