@charset "UTF-8";

.ui-dialog {
	background: #bbd0b0;
    border-radius: 0px;
	border-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.ui-dialog-buttonpane {
    background: #bbd0b0;
	border-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.ui-widget-header .ui-icon {
	background-image: url("../image/ui-icons_222222_256x240.png");
	
}

.ui-button-text {
    background: #338052;
	color: white;
}

.ui-dialog-titlebar {
    background: #bbd0b0;
	border-bottom: 1px solid #338052;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	color: #338052;
	text-transform: uppercase;
}