@charset "UTF-8";

div.jGrowl div.jGrowl-notification.error {
	background-color: red;
}

div.jGrowl div.jGrowl-notification.info {
	background-color: #0C3FE0;
}

div.jGrowl div.jGrowl-notification.success {
	background-color: green;
}

div.jGrowl div.jGrowl-notification.warning {
	background-color: yellow;
}