@CHARSET "UTF-8";

form > table {
	width: 50%;
	border-collapse: collapse;
}

form > table > tbody > tr {
	text-align: center;
	height: 30px;
}

form > table > tbody > tr > td{
	text-align: center;
}

form > table > tbody > tr > td > input {
	width: 180px;
	height: 20px;
	background: #d3e0c7;
	border: 1px solid #338052;
}

form > table > tbody > tr > td > textarea {
	width: 180px;
	background: #d3e0c7;
	border: 1px solid #338052;
}

form > table > tbody > tr > td > select {
	width: 185px;
	height: 26px;
	background: #d3e0c7;
	border: 1px solid #338052;
}

form > table > tbody > tr > td > label.error {
	color: red;
}

form > table > tbody > tr > td label {
	color: #338052;
	font-family: Helvetica, Arial;
	font-weight: bold;
	text-transform:uppercase;
}

#number {
	margin-left:15px;
	margin-top: 13px;
    width: 30px;
}

.button {
    background: #338052;
	color: white;
	padding: 6px 10px 7px 10px;
	top: 7px;
	border: 1px solid #D3D3D3;
	width: 80px;
	position: relative;
}

.button:hover {
    background: #338042;
}

.even td{
	background-color: #bbd0b0;
}

.odd td{
	background-color: #bbd0b0;
}