@CHARSET "UTF-8";´

*{
	margin: 0px;
}

body {
	background: #e3ebd3;
	margin: 0px;
}

header {
	background: url(../image/login/logintaxi.png) no-repeat;
	height: 249px;
	margin: 0 auto;
	position: relative;
	top:100px;
	width: 230px;
}

section {
	position: relative;
	text-align: center;
	top:120px;
}

section input.input-text{
	background-color: #e8eed7;
	border: 2px solid #338052;
	display: block;
	font-size: 16px;
	height: 32px;
	margin: 0 auto;
	margin-bottom: 20px;
	width:184px;
}

section a.button {
	background-color:#338052;
	color: white;
	display:block;
	font-size: 16px;
	height: 23px;
	margin: 20px auto;
	padding: 3px;
	text-decoration: none;
	width: 184px;
}

section a.button:hover {
	background-color:#338582;
}

section button#submit{
	background-color: #c6e4d4;
	border: 2px solid #338052;
	color: #338052;
	font-weight: bold;
	height: 36px;
	width:190px;
}

section button#submit:hover{
	background-color:#e4f8ed;
	cursor: pointer;
}

.errorlist {
	margin:-20px -24px 10px;
	color: red;
}

#errors {
	color: red;
	position: relative;
	top: 5px;
}

:-moz-placeholder { /* Firefox 18- */
	color: #338052;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #338052;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

:-ms-input-placeholder {
	color: #338052;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

@media screen and (max-width: 320px), handheld and (orientation: portrait){
	header{
		top: 0px;
	}
	
	section{
		top: 15px;
	}
}

@media screen and (max-width: 480px), handheld and (orientation: landscape){
	header{
		top: 0px;
	}
	
	section{
		top: 15px;
	}
	
	section input.input-text{
	display: inline-block;
	}
}