@CHARSET "UTF-8";

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  border: 0;
  border-bottom: 0px solid #656659;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

#cssmenu a {
  line-height: 1.3;
}

#cssmenu > ul > li {
	background-color: #338052;
}

#cssmenu > ul > li:hover {
  background: #337052;
}

#cssmenu > ul > li > a {
  font-size: .9em;
  display: block;
  border: 1px solid #E5FFE5;
  border-top: none;
}

#cssmenu > ul > li > a > span {
	display: block;
	padding: 16px 20px;
	color: white;
	border-bottom: 1px solid #e6e9ec;
}

#cssmenu > ul > li > a:hover {
  text-decoration: none;
}

#cssmenu > ul > li.active {
  border-bottom: none;
}

#cssmenu ul ul {
  background: #e2e9d6;
  display: none;
}

#cssmenu ul ul li {
  padding: 0;
  border-bottom: 2px solid #338052;
  border-top: none;
}

#cssmenu ul ul a {
  padding: 16px 10px 16px 20px;
  display: block;
  color:#338052;
  font-size: .8em;
}

#cssmenu ul ul a:before {
  position: absolute;
  left: 10px;
}

#cssmenu ul ul a:hover {
	color: white;
	background: #b7cbb1;
}

#exit { 
	background-color: #338052;
	color: white;
	font-weight:bold;
	font-family: 'Open Sans',sans-serif;
  font-size: 16;
	padding: 10px 10px 10px 10px;
  position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
  top: -28px;
	width: 250px;
}

#exit:hover{
  background: #337052;
}
