<?php echo $this->doctype();?>
<html lang="es">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
        <title><?php echo _('TAXI DIRECTOR')?></title>
		<?php
			$this->headLink()->appendStylesheet("/css/dialog.css");
			$this->headLink()->appendStylesheet("/css/form.css");
			$this->headLink()->appendStylesheet("/css/flashnotification.css");
			$this->headLink()->appendStylesheet("/css/menu.css");
			$this->headLink()->appendStylesheet("/css/style-menu.css");
			$this->headLink()->appendStylesheet("/css/zebralistmenu.css");
		?>
		<?php echo $this->headLink();?>
		<?php echo $this->headScript();?>
	</head>
	<body style="margin: 0px;">
        <section>
            <?php echo $this->layout()->content?>
            <article>
                <a id = "exit" href="<?php echo $this->url(array('action'=>'logout', 'controller'=>'Auth', 'module'=>'user'))?>">
                <?php echo _('Salir')?>
                </a>
            </article>
        </section>
        <?php echo $this->flashMessages()?>
    </body>
</html>