<form id="<?php echo $this->element->getAttrib('id')?>">
<?php echo $this->element->getElement('id')->render()?>
	<table>
		<tbody>
            <?php if (!$this->element->getOnlyRead()) {?>
			<tr class="odd" >
				<td><?php echo $this->element->getElement('phone')->renderLabel()?><?php echo $this->element->getElement('phone')->renderViewHelper()?></td>
			</tr>
			<tr class="even">
				<td><?php echo $this->element->getElement('name')->renderLabel()?><?php echo $this->element->getElement('name')->renderViewHelper()?></td>
			</tr>
			<tr class="odd" >
                <td><?php echo $this->element->getElement('label')->renderLabel()?><?php echo $this->element->getElement('label')->renderViewHelper()?></td>
			</tr>
			<tr class="even" >
				<td><?php echo $this->element->getElement('address')->renderLabel()?><?php echo $this->element->getElement('address')->renderViewHelper()?></td>
			</tr>
			<tr class="odd" >
                <td><?php echo $this->element->getElement('note')->renderLabel()?><?php echo $this->element->getElement('note')->renderViewHelper()?></td>
			</tr>
			<tr class="even" >
                <td>
                    <?php echo $this->element->getElement('taxi')->renderLabel()?>
                    <?php echo $this->element->getElement('taxi')->renderViewHelper()?>
                </td>
                <td>
                    <?php echo $this->element->getElement('number')->renderViewHelper()?>
                </td>
			</tr>
			<?php
            } else {?>
            <tr class="odd" >
				<td><?php echo $this->element->getElement('phone')->renderLabel()?><?php echo $this->element->getPhone()?></td>
			</tr>
			<tr class="even" >
				<td><?php echo $this->element->getElement('name')->renderLabel()?><?php echo $this->element->getName()?></td>
			</tr>
			<tr class="odd" >
				<td><?php echo $this->element->getElement('label')->renderLabel()?><?php echo $this->element->getLabel()?></td>
			</tr>
			<tr class="even" >
				<td><?php echo $this->element->getElement('address')->renderLabel()?><?php echo $this->element->getAddress()?></td>
			</tr>
			<tr class="odd" >
				<td><?php echo $this->element->getElement('note')->renderLabel()?><?php echo $this->element->getNote()?></td>
			</tr>
			<tr class="even" >
				<td><?php echo $this->element->getElement('taxi')->renderLabel()?>
				<?php if ($this->element->getIsResume()) {?>
                    <?php echo $this->element->getTaxi()?>
				<?php } else {?>
                    <?php echo $this->element->getElement('taxi')->renderViewHelper()?></td>
				<?php }?>
			</tr>
            <?php }?>
		</tbody>
	</table>
</form>