<div id="cssmenu" style="width: 239px; float: left;">
   <ul>
        <li><a href='#'><span>CARRERAS</span></a>
        <ul>
            <li><a href="/admin/Ride/add" id="create-ride">NUEVO</a></li>
            <li><a href="/admin/Ride/notassigned">NO ASIGNADA</a></li>
            <li><a href='#'>EN ESPERA</a></li>
            <li><a href="/admin/Ride/ongoing">EN CURSO</a></li>
        </ul>
        </li>

        <li><a href='#'><span>PASAJEROS</span></a>
        <ul>
            <li><a id="create-passenger" href="/admin/Passenger/add">NUEVO</a></li>
            <li><a id="search-passenger" href="/admin/Passenger/search">BUSCAR</a></li>
        </ul>
        </li>

        <li><a href='#'><span>TAXIS</span></a>
        <ul>
            <li><a href="/admin/Taxi/withoutcareer">SIN CARRERA</a></li>
            <li><a href="/admin/Taxi/ongoing">EN CURSO</a></li>
            <li><a href="/admin/Taxi/off">APAGADOS</a></li>
            <li><a href="/admin/Taxi">ALTA/BAJA</a></li>
        </ul>
        </li>
    </ul>
</div>