<div id="dialog-form" title="<?php echo $this->translate('EDITAR MOVIL');?>" style="display: none;">
	<?php echo $this->form;?>
</div>

<script type="text/javascript">
$(document).ready(function() {

	var resultDriver = $('#pictureDriver'),
	load = function (e) {
	e = e.originalEvent;
	e.preventDefault();
	window.loadImage(
		(e.dataTransfer || e.target).files[0],
		function (img) {
			resultDriver.children().replaceWith(img);
		},
		{
		maxWidth: resultDriver.children().outerWidth(),
		canvas: true
		}
	);
    };

    $('#file-input-driver').change(load);

	var resultTaxi = $('#pictureTaxi'),
		load = function (e) {
		e = e.originalEvent;
		e.preventDefault();
		window.loadImage(
			(e.dataTransfer || e.target).files[0],
			function (img) {
				resultTaxi.children().replaceWith(img);
			},
			{
			maxWidth: resultTaxi.children().outerWidth(),
			canvas: true
			}
		);
	};

	$('#file-input-taxi').change(load);
});

com.em.Taxi.prototype.dialogButtons = {
	'<?php echo $this->translate('Editar'); ?>': function() {
		validator.form();
		if (!validator.valid()) {
			com.em.Taxi.prototype.flashError('<?php echo _('El Formulario tiene errores y no se ha guardado');?>', {header: com.em.Alert.ERROR});
			return false;
		}

		$('#formId').submit();
	},

	'<?php echo $this->translate('Cancelar'); ?>': function() {
		$(this).dialog("close");
	}
};
</script>