<?php use Model\Taxi;
$this->headScript()->appendFile($this->baseUrl() . "/js/modules/admin/Taxi.js","text/javascript");?>
<?php $this->headScript()->appendFile($this->baseUrl() . "/js/lib/blueimp-Load-Image/load-image.min.js","text/javascript"); ?>
<style type="text/css">
table.zebralist > tbody > tr > td {
	background-color: #b5ceb2;
}

table.zebralist > tbody > tr :hover {
	background: #e2ead8;
}
</style>

<div style="width: 239px; float: left;">
    <a href="/admin" >Volver</a>
    <?php echo $this->tableList('tblTaxi');?>
</div>

<div id="map-canvas" style="height: 687px"></div>

<div id="dialog"><!-- Loads ajax dialog form --></div>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBADa-A2Jqkq2C4ZlgOdZs98dFE0q00_N0&sensor=true">
</script>

<script type="text/javascript">
var taxiongoing;
	$(document).ready(function() {
	taxiongoing = new com.em.Taxi();

	taxiongoing.setUrl({
		toTable : '<?php echo $this->url(array('action'=>'ds-taxi-entries-on-going'));?>',
		toBase : '<?php echo $this->baseUrl(); ?>',
		toUpdate : '<?php echo $this->url(array('action'=>'ds-position-taxi')); ?>'
	});

	var headers = new Object();
	headers.headerArray = new Array(
		'<?php echo $this->translate('En Curso')?>');
	taxiongoing.setHeaders(headers);
	// settings the list to show the taxis on going
	taxiongoing.configureList('#tblTaxi', true);

	taxiongoing.clickToAdd('#create-taxi');
});

	var map;
	var markers = [];
	var painter;

	function initialize() {
		var mapOptions = {center: new google.maps.LatLng(-17.760458, -63.131776),	zoom: 15};
		map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

		painter = setInterval(function(){paintTimer()},4000);
	}

	// method to repaint the list of taxis and taxis on google map
	function paintTimer() {
		drawTaxis();
		taxiongoing.repaintTable();
	}

	// Add a marker to the map and push to the array.
	function addMarker(location, title, active) {
	    var marker = new google.maps.Marker({
	    position: location,
	    map: map,
	    title: title,
	    icon: new google.maps.MarkerImage('http://maps.google.com/mapfiles/ms/icons/green-dot.png')
	    });
	    if (active == 1) {
	    	marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
	    }
	    markers.push(marker);
	}

	// Sets the map on all markers in the array.
	function setAllMap(map) {
	    for (var i = 0; i < markers.length; i++) {
	        markers[i].setMap(map);
	    }
	}

	// Removes the markers from the map, but keeps them in the array.
	function clearMarkers() {
	    setAllMap(null);
	}

	// Shows any markers currently in the array.
	function showMarkers() {
	    setAllMap(map);
	}

	// Deletes all markers in the array by removing references to them.
	function deleteMarkers() {
	    clearMarkers();
	    markers = [];
	}

    google.maps.event.addDomListener(window, 'load', initialize);

    // Gets the positions of the taxis on going and adding the marker
    function drawTaxis() {
        var action = '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Taxi', 'action'=>'ds-position-taxis'));?>';
        $.ajax({
            url: action,
            type: "POST",
            dataType: 'json',
            data: {'status' : <?php echo Taxi::ONGOING?>},
            success: function(data, textStatus, XMLHttpRequest) {
                if (data !== null) {
                    deleteMarkers();
                    $(data).each(function() {
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            var position = new google.maps.LatLng(parseFloat(item.latitud), parseFloat(item.longitud));
                            addMarker(position, item.name, item.active);
                            }
                    });
                }
            },
            error: function(data) {
                console.log('error');
            }
        });
    }

    // Gets the position of one taxi off and adding the marker to the center
    function centerTaxi(taxiId) {
    	var action = '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Taxi', 'action'=>'ds-position-taxi'));?>';
        $.ajax({
            url: action,
            type: "POST",
            dataType: 'json',
            data: {'taxiId' : taxiId, 'status' : <?php echo Taxi::ONGOING?>},
            success: function(data, textStatus, XMLHttpRequest) {
                if (data !== null) {
                    var position = new google.maps.LatLng(parseFloat(data.latitud), parseFloat(data.longitud));
                    map.setCenter(position);
                    addMarker(position, data.name, data.active);
                }
            },
            error: function(data) {
            	console.log('error');
            }
        });
    }
</script>