<div id="dialog-form" title="<?php echo $this->translate('Adicionar Carrera'); ?>" style="display: none;">
	<?php echo $this->form;?>
</div>

<script type="text/javascript">
	com.em.RideAdd.prototype.dialogButtons = {
		'<?php echo $this->translate('Aceptar'); ?>': function() {
			$.ajax({
				url: '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Ride', 'action'=>'add-save'));?>',
				type: "POST",
				dataType: 'json',
				data: $('#formId').serialize(),
				beforeSend: function(XMLHttpRequest) {
					validator.form();
					if (!validator.valid()) {
						com.em.RideAdd.prototype.flashError('<?php echo _('El Formulario tiene errores y no se ha guardado');?>', {header: com.em.Alert.ERROR});
						return false;
					}
					return true;
				},

				success: function(data, textStatus, XMLHttpRequest) {
					if (textStatus == 'success') {
						if (data.success) {
							dialogForm.dialog('close');
							com.em.RideAdd.prototype.flashSuccess(data.message, {header: com.em.Alert.SUCCESS});
						} else {
							if (data.phone_duplicate) {
								$("#phone").parent().find('.error').remove();
								$("#phone").parent().append('<label class="error" for="phone" generated="true">'+data.message+'</label>');
								com.em.RideAdd.prototype.flashError('<?php echo _('El Telefono ya existe')?>', {header: com.em.Alert.ERROR});
							} else {
								this.name = data.messageArray.name;
								this.address = data.messageArray.address;
								this.number = data.messageArray.number;
							    //console.log(this.name);

								if (this.name != undefined) {
									$('#name').parent().find('.error').remove();
									$('#name').parent().append('<label class="error" for="name" generated="true">'+this.name.isEmpty+'</label>');
								}

								if (this.address != undefined) {
									$('#address').parent().find('.error').remove();
									$('#address').parent().append('<label class="error" for="address" generated="true">'+this.address.isEmpty+'</label>');
								}
							}
							com.em.RideAdd.prototype.flashError(data.message, {header: com.em.Alert.ERROR});
						}
					}
				},

				complete: function(jqXHR, textStatus) {
				},

				error: function(jqXHR, textStatus, errorThrown) {
					dialogForm.dialog('close');
					com.em.RideAdd.prototype.flashError(errorThrown,{header: com.em.Alert.ERROR});
				}
			});
		},
		'<?php echo $this->translate('Descartar'); ?>': function() {
			$(this).dialog("close");
		}
	};

	//keydown to search the passenger by phone number
	$("#phone").bind('keydown', function(e) {
		if (e.type == 'keydown' && e.which == '13') {
			search();
		}
	});

	// Search passenger by phone number
	function search() {
		this.phone = $("#phone").val();
		$.ajax({
			url: '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Ride', 'action'=>'ds-search'));?>',
			type: "POST",
			dataType: 'json',
			data: {'phone' : this.phone},
			beforeSend: function(XMLHttpRequest) {
				validator.form();
				if (!validator.valid()) {
					com.em.RideAdd.prototype.flashError('<?php echo _('El Formulario tiene errores y no se ha guardado');?>', {header: com.em.Alert.ERROR});
					return false;
				}

				return true;
			},

			success: function(data, textStatus, XMLHttpRequest) {
				if (data.success) {
					$('#id').val(data.data.id);
					$('#name').val(data.data.name);
					$('#address').val(data.data.address);

					$('#label option').remove();
					$.each(data.addressArray, function(i) {
						$('#label').append($("<option></option>")
							.attr('value', i)
							.text(data.addressArray[i]));
					});
				} else {
					$('#id').val('');
					$('#name').val('');
					$('#address').val('');

					$('#label option').remove();
					$.each(data.addressArray, function(i) {
						$('#label').append($("<option></option>")
							.attr('value', i)
							.text(data.addressArray[i]));
					});
					com.em.RideAdd.prototype.flashError('<?php echo _('Pasajero no encontrado')?>', {header: com.em.Alert.ERROR});
				}
			},

			complete: function(jqXHR, textStatus) {
			},

			error: function(jqXHR, textStatus, errorThrown) {
				dialogForm.dialog('close');
				com.em.RideAdd.prototype.flashError(errorThrown,{header: com.em.Alert.ERROR});
			}
		});
    }

	// Gets the address from the server by label field
	$("#label").change(function () {
		this.labelId = $('#label').val();
		this.passengerId = $('#id').val();

		$.ajax({
    		url: '<?php echo $this->url(array('controller'=>'Passenger', 'action'=>'ds-passenger-address'));?>',
    		type: "POST",
    		dataType: 'json',
    		data: {'passengerId' : this.passengerId,'labelId' : this.labelId},
		beforeSend: function(XMLHttpRequest) {
			return true;
		},

		success: function(data, textStatus, XMLHttpRequest) {
			$('#address').val(data.nameAddress);
		},

		complete: function(jqXHR, textStatus) {},

		error: function(jqXHR, textStatus, errorThrown) {}
	    });
	});

	//Gets the number taxi
	$("#taxi").change(function () {
		this.taxiId = $("#taxi").val();

		if (this.taxiId > 0) {
		    $("#number").val(this.taxiId);
		} else {
			$("#number").val('');
		}
	});
</script>