<div id="dialog-form" title="<?php echo $this->translate('Editar Carrera'); ?>" style="display: none;">
	<?php echo $this->form;?>
</div>

<script type="text/javascript">
	com.em.Ride.prototype.dialogButtons = {
		'<?php echo $this->translate('Aceptar'); ?>': function() {
			$.ajax({
				url: '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Ride', 'action'=>'edit-save')); ?>',
				type: "POST",
				dataType: 'json',
				data: $('#formId').serialize(),
				beforeSend: function(XMLHttpRequest) {
					validator.form();
					if (!validator.valid()) {
						com.em.Ride.prototype.flashError('<?php echo _('El Formulario tiene errores y no se ha guardado');?>', {header: com.em.Alert.ERROR});
						return false;
					}

					return true;
				},

				success: function(data, textStatus, XMLHttpRequest) {
					if (textStatus == 'success') {
						if (data.success) {
							dialogForm.dialog('close');
							table.fnDraw();
							com.em.Ride.prototype.flashSuccess(data.message, {header: com.em.Alert.SUCCESS});
						} else {
							if (data.name_duplicate) {
								$("#name").parent().find('.error').remove();
								$("#name").parent().append('<label class="error" for="name" generated="true">'+data.message+'</label>');
							} else {
								var name = data.messageArray.name;

								if (name != undefined) {
									$('#name').parent().find('.error').remove();
									$('#name').parent().append('<label class="error" for="name" generated="true">'+name.isEmpty+'</label>');
								}
							}
							com.em.Ride.prototype.flashError(data.message, {header: com.em.Alert.ERROR});
						}
					}
				},

				complete: function(jqXHR, textStatus) {
					com.em.Ride.prototype.processingDisplay(false);
				},

				error: function(jqXHR, textStatus, errorThrown) {
					dialogForm.dialog('close');
					com.em.Ride.prototype.flashError(errorThrown, {header: com.em.Alert.ERROR});
				}
			});
		},
		'<?php echo $this->translate('Borrar Carrera'); ?>': function() {
			this.rideId = $("#id").val();

			$.ajax({
				url: '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Ride', 'action'=>'delete')); ?>',
				type: "POST",
				dataType: 'json',
				data: {'rideId' : this.rideId},
				beforeSend: function(XMLHttpRequest) {
					validator.form();
					if (!validator.valid()) {
						com.em.Ride.prototype.flashError('<?php echo _('El Formulario tiene errores y no se ha guardado');?>', {header: com.em.Alert.ERROR});
						return false;
					}

					return true;
				},

				success: function(data, textStatus, XMLHttpRequest) {
					if (textStatus == 'success') {
						if (data.success) {
							dialogForm.dialog('close');
							table.fnDraw();
							com.em.Ride.prototype.flashSuccess(data.message, {header: com.em.Alert.SUCCESS});
						} else {
							com.em.Ride.prototype.flashError(data.message, {header: com.em.Alert.ERROR});
						}
					}
				},

				complete: function(jqXHR, textStatus) {
					com.em.Ride.prototype.processingDisplay(false);
				},

				error: function(jqXHR, textStatus, errorThrown) {
					dialogForm.dialog('close');
					com.em.Ride.prototype.flashError(errorThrown, {header: com.em.Alert.ERROR});
				}
			});
		}
	};
</script>