<?php use Model\Ride;
    $this->headScript()->appendFile($this->baseUrl() . "/js/modules/admin/Ride.js","text/javascript");?>
<style type="text/css">
table.zebralist > tbody > tr > td {
 	background-color: #fccb7c;
}
</style>

<div style="width: 239px; float: left;">
    <a href="/admin" >Volver</a>
    <?php echo $this->tableList("tblRide");?>
</div>

<div id="map-canvas" style="height: 687px"></div>

<div id="dialog"><!-- Loads ajax dialog form --></div>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBADa-A2Jqkq2C4ZlgOdZs98dFE0q00_N0&sensor=true">
</script>
<script type="text/javascript">
var ridenotassigned;
	$(document).ready(function() {
	    ridenotassigned = new com.em.Ride();

	    ridenotassigned.setUrl({
	        toTable : '<?php echo $this->url(array('action'=>'ds-ride-entries-not-assigned'))?>',
	        toBase : '<?php echo $this->baseUrl()?>',
    		toUpdate : '<?php echo $this->url(array('action'=>'edit'))?>'
    	});

    	var headers = new Object();
    	headers.headerArray = new Array(
    		'<?php echo $this->translate('No Asignada');?>');
    	ridenotassigned.setHeaders(headers);
    	// settings the table
    	ridenotassigned.configureTable('#tblRide', true);
    	ridenotassigned.clickToUpdate('#tblRide a[id^=update-ride-]');
    	ridenotassigned.clickToDelete('#delete-ride');
    });

	var map;
	var markers = [];
	var painter;

	// Initialize the construct of google maps
	function initialize() {
		var mapOptions = {center: new google.maps.LatLng(-17.760458, -63.131776),	zoom: 15};
		map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

		painter = setInterval(function(){paintTimer();},4000);
	}

	// Paints the taxis and repaints the table list
	function paintTimer() {
		drawTaxis();
	    ridenotassigned.repaintTable();
	}

	// Add a marker to the map and push to the array.
	function addMarker(location, title, active) {
	    var marker = new google.maps.Marker({
	    position: location,
	    map: map,
	    title: title,
	    icon: new google.maps.MarkerImage('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')
	    });
	    if (active == 1) {
	    	marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
	    }
	    markers.push(marker);
	}

	// Sets the map on all markers in the array.
	function setAllMap(map) {
	    for (var i = 0; i < markers.length; i++) {
	        markers[i].setMap(map);
	    }
	}

	// Removes the markers from the map, but keeps them in the array.
	function clearMarkers() {
	    setAllMap(null);
	}

	// Shows any markers currently in the array.
	function showMarkers() {
	    setAllMap(map);
	}

	// Deletes all markers in the array by removing references to them.
	function deleteMarkers() {
	    clearMarkers();
	    markers = [];
	}

    google.maps.event.addDomListener(window, 'load', initialize);

    function drawTaxis() {
        var action = '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Ride', 'action'=>'ds-position-taxis'));?>';
        $.ajax({
            url: action,
            type: "POST",
            dataType: 'json',
            data: {'status' : <?php echo Ride::NOT_ASSIGNED?>},
            success: function(data, textStatus, XMLHttpRequest) {
                if (data !== null) {
                    deleteMarkers();
                    $(data).each(function() {
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            var position = new google.maps.LatLng(parseFloat(item.latitud), parseFloat(item.longitud));
                            addMarker(position, item.name, item.active);
                            }
                    });
                }
            },
            error: function(data) {
                console.log('error');
            }
        });
    }
</script>