<div id="dialog-form" title="<?php echo $this->translate('Buscar Pasajero'); ?>" style="display: none;">
	<?php echo $this->form;?>
</div>

<script type="text/javascript">
com.em.PassengerAdd.prototype.dialogButtons = {
		'<?php echo $this->translate('Cancelar')?>': function() {
			$(this).dialog("close");
		}
	};

    function search() {
		this.phone = $("#phone").val();
		$.ajax({
			url: '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Passenger', 'action'=>'ds-search'));?>',
			type: "POST",
			dataType: 'json',
			data: {'phone' : this.phone},
			beforeSend: function(XMLHttpRequest) {
				validatorSearch.form();
				if (!validatorSearch.valid()) {
					com.em.PassengerAdd.prototype.flashError('<?php echo _('El Formulario tiene errores y no se ha guardado');?>', {header: com.em.Alert.ERROR});
					return false;
				}

				//com.em.PassengerAdd.prototype.processingDisplay(true);
				return true;
			},

			success: function(data, textStatus, XMLHttpRequest) {
				if (data.success) {
					$('#dialog-form')[0].style.height = '240px';

					$("#rowname")[0].style.visibility = 'visible';
					$("#rowlabel")[0].style.visibility = 'visible';
					$("#rowaddress")[0].style.visibility = 'visible';

					$('#id').val(data.data.id);
					$('#firstName').val(data.data.name);
					$('#address').val(data.data.address);

					$('#label option').remove();
					$.each(data.addressArray, function(i) {
						$('#label').append($("<option></option>")
							.attr('value', i)
							.text(data.addressArray[i]));
					});
				} else {
					$('#dialog-form')[0].style.height = '51px';

					$("#rowname")[0].style.visibility = 'hidden';
					$("#rowlabel")[0].style.visibility = 'hidden';
					$("#rowaddress")[0].style.visibility = 'hidden';
					com.em.PassengerAdd.prototype.flashError('<?php echo _('Pasajero no encontrado')?>', {header: com.em.Alert.ERROR});
				}
			},

			complete: function(jqXHR, textStatus) {
				//com.em.PassengerAdd.prototype.processingDisplay(false);
			},

			error: function(jqXHR, textStatus, errorThrown) {
				dialogForm.dialog('close');
				com.em.PassengerAdd.prototype.flashError(errorThrown,{header: com.em.Alert.ERROR});
			}
		});
    }

	$("#phone").bind('keyup', function(e) {
		if (e.type == 'keyup' && e.which == '13') {
			search();
		}
	});

	$("#label").change(function () {
		this.labelId = $('#label').val();
		this.passengerId = $('#id').val();

		$.ajax({
		url: '<?php echo $this->url(array('controller'=>'Passenger', 'action'=>'ds-passenger-address'));?>',
		type: "POST",
		dataType: 'json',
		data: {'passengerId' : this.passengerId,'labelId' : this.labelId},
		beforeSend: function(XMLHttpRequest) {
			return true;
		},

		success: function(data, textStatus, XMLHttpRequest) {
			$('#address').val(data.nameAddress);
		},

		complete: function(jqXHR, textStatus) {},

		error: function(jqXHR, textStatus, errorThrown) {}
	    });
	});

	function changeName() {
		$.ajax({
			url: '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Passenger', 'action'=>'ds-change-name'));?>',
			type: "POST",
			dataType: 'json',
			data: $('#formId').serialize(),
			beforeSend: function(XMLHttpRequest) {
				validatorSearch.form();
				if (!validatorSearch.valid()) {
					com.em.PassengerAdd.prototype.flashError('<?php echo _('El Formulario tiene errores y no se puede cambiar');?>', {header: com.em.Alert.ERROR});
					return false;
				}

				//com.em.PassengerAdd.prototype.processingDisplay(true);
				return true;
			},

			success: function(data, textStatus, XMLHttpRequest) {
				if (data.success) {
					com.em.PassengerAdd.prototype.flashSuccess('<?php echo _('Cambio realizado')?>', {header: com.em.Alert.ERROR});
				} else {
					com.em.PassengerAdd.prototype.flashError('<?php echo _('Pasajero no encontrado')?>', {header: com.em.Alert.ERROR});
				}
			},

			complete: function(jqXHR, textStatus) {
				//com.em.PassengerAdd.prototype.processingDisplay(false);
			},

			error: function(jqXHR, textStatus, errorThrown) {
				dialogForm.dialog('close');
				com.em.PassengerAdd.prototype.flashError(errorThrown,{header: com.em.Alert.ERROR});
			}
		});
    }

	function deleteLabel() {
		$.ajax({
			url: '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Passenger', 'action'=>'ds-delete-label'));?>',
			type: "POST",
			dataType: 'json',
			data: $('#formId').serialize(),
			beforeSend: function(XMLHttpRequest) {
				validatorSearch.form();
				if (!validatorSearch.valid()) {
					com.em.PassengerAdd.prototype.flashError('<?php echo _('El Formulario tiene errores y no se puede eliminar la Etiqueta');?>', {header: com.em.Alert.ERROR});
					return false;
				}

				return true;
			},

			success: function(data, textStatus, XMLHttpRequest) {
				if (data.success) {
// 					$('#address').val(data.data.address);
					$('#label option').remove();
					$.each(data.addressArray, function(i) {
						$('#label').append($("<option></option>")
							.attr("value", i)
							.text(data.addressArray[i]));
					});
					com.em.PassengerAdd.prototype.flashSuccess('<?php echo _('Etiqueta Eliminado')?>', {header: com.em.Alert.ERROR});
				} else {
					com.em.PassengerAdd.prototype.flashError('<?php echo _('La Etiqueta no se pudo Eliminar')?>', {header: com.em.Alert.ERROR});
				}
			},

			complete: function(jqXHR, textStatus) {
// 				com.em.PassengerAdd.prototype.processingDisplay(false);
			},

			error: function(jqXHR, textStatus, errorThrown) {
				dialogForm.dialog('close');
				com.em.PassengerAdd.prototype.flashError(errorThrown,{header: com.em.Alert.ERROR});
			}
		});
    }

	function changeAddress() {
		$.ajax({
			url: '<?php echo $this->url(array('module'=>'admin', 'controller'=>'Passenger', 'action'=>'ds-change-address'));?>',
			type: "POST",
			dataType: 'json',
			data: $('#formId').serialize(),
			beforeSend: function(XMLHttpRequest) {
				validatorSearch.form();
				if (!validatorSearch.valid()) {
					com.em.PassengerAdd.prototype.flashError('<?php echo _('El Formulario tiene errores y no se puede cambiar');?>', {header: com.em.Alert.ERROR});
					return false;
				}

// 				com.em.Passenger.prototype.processingDisplay(true);
				return true;
			},

			success: function(data, textStatus, XMLHttpRequest) {
				if (data.success) {
					com.em.PassengerAdd.prototype.flashSuccess('<?php echo _('Cambio realizado')?>', {header: com.em.Alert.ERROR});
				} else {
					com.em.PassengerAdd.prototype.flashError('<?php echo _('Pasajero no encontrado')?>', {header: com.em.Alert.ERROR});
				}
			},

			complete: function(jqXHR, textStatus) {
// 				com.em.PassengerAdd.prototype.processingDisplay(false);
			},

			error: function(jqXHR, textStatus, errorThrown) {
				dialogForm.dialog('close');
				com.em.PassengerAdd.prototype.flashError(errorThrown,{header: com.em.Alert.ERROR});
			}
		});
    }
</script>