<?php echo $this->form;?>
<?php
    if ($this->error == 1) {?>
        <label id="errors">El nombre de Usuario o la Clave no son validos</label>
    <?php }?>
<a href="<?php echo $this->url(array('action' => 'index', 'controller' => 'Recovery', 'module'=>'default'))?>" class="button">¿OLVIDASTE TU CLAVE?</a>
