<!DOCTYPE html>
<html lang="es">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
        <title><?php echo _('TAXI DIRECTOR')?></title>
		<link rel="stylesheet" href="/css/login.css">
	</head>
	<body>
        <header>
        </header>
        <section>
            <article>
            <?php echo $this->layout()->content;?>
            </article>
        </section>
    </body>
</html>